<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/add-product" method="POST" >
            <div class="form-control">
                <label>Enter a product</label>
                <input type="text" name="product" />
                <label>Enter amount</label>
                <input type="number" name="amount" />
                <button type="submit">Add</button>
            </div>
        </form>
    </main>
</body>
</html>